# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# Eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# OS
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db
Desktop.ini

# TR ENGINE temporary files
vendor/
nbproject/
composer.lock
tmp/