/* element de base */
body {
	background: #6b737b url(images/background_form.png);
	font-family: verdana, Arial, Sans-serif;
	font-size: 11px;
	color: #000;
}
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
a:link, a:visited, a:active {
	color: #404040;
	text-decoration: none;
}
a:hover {
	color: #e6eaeb;
	text-decoration: underline;
}

#close_block {
	text-align: center;
}

#close_block img {
	border: 0px;
}

#close_text {
	position: relative;
	width: 300px;	
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
}
