<?xml version="1.0" encoding="UTF-8"?>
<!-- see http://www.phpunit.de/wiki/Documentation -->
<phpunit bootstrap="./bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="true">
</phpunit>
