/* element de base */
body {
    padding-top: 100px;
    background-image: url("images/background_form.png");
}
/* Style additionnel du thème */
#close_block {
    text-align: center;
}
#close_image {
    margin: 0 auto;
    width: 900px;
    height: 238px;
    background-image: url("images/tr_studio.png");
}
#close_image a {
    display: block;
    width: 900px;
    height: 238px;
    float: left;
}
#close_text {
    width: 300px;
    margin: 0 auto;
}
