body {
    background-position: top left;
    animation: body_opacity 30s infinite linear;
    opacity: 1;
}
@keyframes body_opacity {
    0% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}