.loader_metallic_sky {
    float: left;
    width: 9px;
    height: 9px;
    margin-top: 7px;
    margin-left: 3px;
    border-radius: 3px;
    background-color: transparent;
    animation: loader_metallic_sky_bounce 800ms infinite normal;
}
#loader_metallic_sky1 {
    animation-delay: 0ms;
}
#loader_metallic_sky2 {
    animation-delay: 100ms;
}
#loader_metallic_sky3 {
    animation-delay: 250ms;
}
@keyframes loader_metallic_sky_bounce {
    0% {
        background-color: transparent;
    }
    50%{
        background-color: #05587b;
    }
    100% {
        background-color: transparent;
    }
}