/* Élément de base */
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: Verdana, "Bitstream Vera Sans", "Lucida Grande", sans-serif;
    list-style-type: none;
}
body {
    margin: 0px;
    padding-top: 25px;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    background-color: #6b737b;
    background-image: url("images/background_body.png");
    background-attachment: fixed;
    background-repeat: repeat;
}
a:link, a:visited, a:active {
    color: #404040;
    text-decoration: none;
}
a:hover {
    color: #e6eaeb;
    text-decoration: underline;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}

/* Style graphique généré par le moteur */
/* Fomulaire et zone de saisie utilisateur */
.input, .textarea, .select, select {
    font-size: 14px;
    background-color: #d0dfe6;
    border-top: 2px solid #7194a4;
    border-bottom: 2px solid #7194a4;
    color: #05587b;
}
.input[disabled='disabled'] {
    background-color: #80878f;
    text-decoration: line-through;
}
.input:hover, .textarea:hover {
    background-color: #fff;
}
.input[type='text'], .input[type='password'], input[type='text'], input[type='password'] {
    width: 100%;
    min-width: 100px;
    max-width: 200px;
}
.checkbox {
    margin-left: 5px;
}
.form {
    padding: 8px;
    width: 98%;
    position: relative;
    margin: 0 auto;
    background-image: url("images/background_form.png");
}
.form fieldset {
    border-top: 1px solid #05587b;
}
.form label {
    line-height: 30px;
    font-weight: normal;
}
.form legend {
    color: #05587b;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 10px;
}

/* Erreur de saisie */
.error {
    background-color: #de9da1;
}

/* Menu basique */
.menu ul {
    padding: 5px;
}
.menu ul li a:link, .menu ul li a:visited {
    font-weight: bold;
}

/* Naviguation par onglet */
.tabs ul a {
    background-color: #848e97;
}
.tabs ul a:hover { background: #6f8592; }
.tabs ul a.selected {
    background-color: #848e97;
    border-bottom: 1px solid #848e97;
}
.tabs div {
    background-color: #848e97;
}
.table {
    text-align: left;
}
.table .first {
    background-color: #848e97;
    text-align: center;
    font-weight: bolder;
}
.table tr:hover {
    background-color: #848e97;
}
.table td {
    border-bottom: 1px solid #6b737b;
    border-left: 1px solid #6b737b;
    padding: 5px;
}

/* Chargeur de contenu */
#loader {
    float: left;
    display: none;
    background: url("images/loader.gif") no-repeat 0 0;
    width: 16px;
    height: 11px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
}

/* Fil d'Ariane */
.breadcrumbtrail {
    float: left;
    margin-left: 5px;
}
.breadcrumbtrail ul > :first-child {
    background: url("images/list_title.png") no-repeat 0 4px;
}
.breadcrumbtrail li {
    position:relative;
    float: left;
    background: url("images/list_description.png") no-repeat 0 4px;
    padding-left: 16px;
}
.breadcrumbtrail a {
    color: #05587b;
}

/* Panneau de message */
#panel_message {
    padding: 5px;
}
#panel_message .exception {
    margin: 5px;
}
#panel_message .exception li {
    margin-top: 10px;
    padding-left: 25px;
}
#panel_message .exception li div {
    padding: 2px;
}
#panel_message .exception .alert {
    background: #efaaa9 url("images/panel_message_alert.png") no-repeat 5px 5px;
}
#panel_message .exception .note {
    background: #f7c259 url("images/panel_message_note.png") no-repeat 5px 5px;
}
#panel_message .exception .info {
    background: #98c3f1 url("images/panel_message_info.png") no-repeat 5px 5px;
}

/* Indication additionnelle du moteur */
.text_bold {
    font-weight: bold;
}
.text_italic {
    font-style: italic;
}
.text_underline {
    text-decoration: underline;
}
.text_big {
    font-size: 25px;
}
.text_small {
    font-size: 12px;
}