/* Style additionnel du thème */
#global {
    width: 90%;
    min-width: 900px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
/* Entête */
#header {
    position: relative;
    width: 100%;
    height: 130px;
}
#header_left {
    position: absolute;
    top: 0;
    left: 0;
    width: 714px;
    height: 130px;
    background-image: url("images/header_left.png");
}
#header_left a {
    display: block;
    width: 350px;
    height: 94px;
    float: left;
}
#header_left h3 {
    margin-top: 95px;
    margin-left: 150px;
    color: #05587b;
    text-shadow: 0 0 8px #fff;
}
#header_middle {
    height: 130px;
    margin-left: 714px;
    margin-right: 180px;
    background-image: url("images/header_middle.png");
}
#header_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    height: 130px;
    background-image: url("images/header_right.png");
}
/* Contenu du milieu */
#wrapper_leftfix {
    display: flex;
    width: 100%;
    overflow: auto;
    background: url("images/wrapper_left.png") repeat-y left top;
}
#wrapper_rightfix {
    display: flex;
    width: 100%;
    overflow: auto;
    background: url("images/wrapper_right.png") repeat-y right top;
}
#wrapper_left {
    display: block;
    min-width: 174px;
    max-width: 200px;
    margin-left: 22px;
}
#wrapper_right {
    display: block;
    min-width: 174px;
    max-width: 300px;
    margin-right: 51px;
    background-image: url("images/wrapper_middle.png");
}
#wrapper_middlefix {
    display: flex;
    width: 100%;
    background-image: url("images/wrapper_middle.png");
}
#wrapper_middle {
    width: 100%;
    overflow: hidden;
}
/* Pieds de page */
#footer {
    position: relative;
    width: 100%;
    height: 130px;
}
#footer_left {
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 130px;
    background-image: url("images/footer_left.png");
}
#footer_middle {
    height: 130px;
    margin-left: 270px;
    margin-right: 100px;
    background-image: url("images/footer_middle.png");
}
#footer_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 130px;
    background-image: url("images/footer_right.png");
}
/* Cadre des modules */
#module_top {
    position: relative;
    width: 100%;
    height: 60px;
}
#module_top_left {
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    height: 60px;
    background-image: url("images/module_top_left.png");
}
#module_top_middle {
    height: 60px;
    margin-left: 46px;
    margin-right: 46px;
    background-image: url("images/module_top_middle.png");
}
#module_top_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 46px;
    height: 60px;
    background-image: url("images/module_top_right.png");
}
#module_content_leftfix {
    display: flex;
    width: 100%;
    overflow: auto;
    background: url("images/module_content_left.png") repeat-y left top;
}
#module_content_rightfix {
    display: flex;
    width: 100%;
    overflow: auto;
    background: url("images/module_content_right.png") repeat-y right top;
}
#module_content_middle {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    background-image: url("images/module_content_middle.png");
}
#module_bottom {
    position: relative;
    width: 100%;
    height: 60px;
}
#module_bottom_left {
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    height: 60px;
    background-image: url("images/module_bottom_left.png");
}
#module_bottom_middle {
    height: 60px;
    margin-left: 46px;
    margin-right: 46px;
    background-image: url("images/module_bottom_middle.png");
}
#module_bottom_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 46px;
    height: 60px;
    background-image: url("images/module_bottom_right.png");
}
/* Cadre des blocks */
.block {
    display: block;
}
.block_top {
    position: relative;
    height: 57px;
}
.block_top_left {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 57px;
    background-image: url("images/block_top_left.png");
}
.block_top_middle {
    height: 57px;
    margin-left: 45px;
    margin-right: 128px;
    background-image: url("images/block_top_middle.png");
}
.block_top_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 128px;
    height: 57px;
    background-image: url("images/block_top_right.png");
}
.block_title {
    position: absolute;
    top: 13px;
    right: 25px;
    font-size: 25px;
    color: #05587b;
}
.block_content_leftfix {
    width: 100%;
    background: url("images/block_content_left.png") repeat-y left top;
}
.block_content_rightfix {
    width: 100%;
    background: url("images/block_content_right.png") repeat-y right top;
}
.block_content_middle {
    margin-left: 8px;
    margin-right: 7px;
    background-image: url("images/block_content_middle.png");
}
.block_content_middle a {
    transition-property: padding-left;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}
.block_content_middle a:hover, a:focus {
    padding-left: 5px;
}
.block_bottom {
    position: relative;
    height: 32px;
}
.block_bottom_left {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 32px;
    background-image: url("images/block_bottom_left.png");
}
.block_bottom_middle {
    height: 32px;
    margin-left: 45px;
    margin-right: 45px;
    background-image: url("images/block_bottom_middle.png");
}
.block_bottom_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 32px;
    background-image: url("images/block_bottom_right.png");
}

/* Espace supplémentaire */
.spacer {
    clear: both;
    padding: 5px;
}

/* Titre classique */
.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.title span {
    background: url("images/list_title.png") no-repeat 0 4px;
    padding-left: 16px;
}
/* Texte de description classique */
.description {
    font-size: 15px;
    margin: 0 auto;
    text-align: justify;
}
.description span {
    background: url("images/list_description.png") no-repeat 0 2px;
    padding-left: 16px;
}

/* Boite d'erreur du fichier debug.php */
.debugerror {
    background-color: #de9da1;
    border-left: 0px solid #de9da1;
    border-right: 0px solid #de9da1;
    padding: 30px;
    margin: 30px;
    border: 2px solid red;
}
.debugerror hr {
    margin: 10px;
    border: 1px dashed red;
}
