/* Animation des nuages */
#metallic_blue_sky_background {
    background: url("images/background_cloud1.png") 5% 5%, url("images/background_cloud2.png") 50% 50%, url("images/background_cloud3.png") 90% 110%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transition: left 300s linear;
    z-index: -1;
}
#metallic_blue_sky:target #metallic_blue_sky_background {
    left: -5000px;
}
#metallic_blue_sky:hover #metallic_blue_sky_background {
    left: -9999px;
}

/* Animation de l'opacité de l'écran */
#metallic_blue_sky_screen {
    animation: screen_opacity 10s infinite linear;
    opacity: 1;
}
@keyframes screen_opacity {
    0% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

/* Animation des faisceaux de l'entête */
.header_wire_harness {
    display: block;
    width: 10px;
    height: 58px;
    margin-top: 36px;
}
.wire_harness_left {
    float: left;
    margin-left: 18px;
}
.wire_harness_right {
    float: right;
    margin-right: 18px;
}
.wire_harness_object {
    float: right;
    position: relative;
    width: 1px;
    height: 5px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: #05587B;
    opacity: 0;
    top: 30px;
}
.wire_harness_anim1 {
    animation: wire_harness 1s infinite;
}
.wire_harness_anim2 {
    animation: wire_harness_reverse 1s infinite;
}
@keyframes wire_harness {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    0% {
        top: 53px;
    }
    100% {
        top: 0px;
    }
}
@keyframes wire_harness_reverse {
    0%, 100% {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    0% {
        top: 0px;
    }
    100% {
        top: 53px;
    }
}

/* test */
.wrapper_quick_lighting {
    display: block;
    position: absolute;
    right: 0;
    width: 25px;
    height: 10px;
    /*height: 100%;*/
    margin-right: 22px;
    /*animation: quick_lighting 1s infinite;*/
    background-color: #05587B;
    transform: translate(0px, 100px);
}
@keyframes quick_lighting {
    0% {
        transform: translate(0px, 100px);
        /*opacity: 0;*/
    }
    25%, 75% {
        /*opacity: 0.9;*/
    }
    60% {
        /*opacity: 0.5;*/
    }
    100% {
        transform: translate(0px, 0px);
        /*opacity: 0;*/
    }
}