/* Panel d'administration */
#management_index_page {
    float: left;
    position: relative;
    background-color: #6b737b;
}
.management_index_block, .management_index_block:link, .management_index_block:visited, .management_index_block:visited:active {
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-image: url("images/background_form.png");
    border: 2px solid #78828a;
    width: 128px;
    float: left;
    position: relative;
    height: 160px;
}
.management_index_block:hover {
    border: 2px solid #7194a4;
}
#management_bar {
    background-image: url("images/background_form.png");
    padding: 5px;
    margin: 5px;
    border: 2px solid #6b737b;
    height: 50px;
}
#management_bar div {
    float: left;
    position: relative;
    margin-left: 10px;
}
#management_bar_setting_page {
    height: 50px;
    padding-left: 50px;
    background: #5985b1 url("management/bar_setting.png") no-repeat top left;
}
#management_bar_module_page {
    height: 50px;
    padding-left: 50px;
    background: #5985b1 url("management/bar_module.png") no-repeat top left;
}
#management_bar div a {
    border: 0px;
}
#management_bar div select {
    margin: 13px 4px 0px 5px;
}
#management_setting {
    border: 1px solid #6b737b;
    margin: 5px;
    padding: 5px;
    height: 128px;
}
#management_setting_title {
    font-size: 20px;
    font-weight: bolder;
    color: #05587B;
}
#management_setting_title_text {
    padding-top: 30px;
}
#management_setting_title_icon {
    float: left;
    height: 128px;
}
#management_setting_toolbar {
    float: right;
    text-align: right;
    font-size: 11px;
    margin-top: 30px;
    text-decoration: none;
}
.management_setting_toolbar_button {
    float: right;
    padding: 5px;
    margin: 5px;
    border: 1px solid #7194a4;
}
.management_setting_toolbar_button:hover {
    background-color: #7194a4;
    border-color: #6b737b;
    cursor: pointer;
}
.management_setting_toolbar_button_edit {
    background: url("management/button_edit.png") no-repeat 0 0px;
    padding-left: 20px;
    height: 18px;
}
.management_setting_toolbar_button_delete {
    background: url("management/button_delete.png") no-repeat 0 0px;
    padding-left: 20px;
    height: 18px;
}
.management_setting_toolbar_button_copy {
    background: url("management/button_copy.png") no-repeat 0 0px;
    padding-left: 20px;
    height: 18px;
}
.management_setting_toolbar_button_add {
    background: url("management/button_add.png") no-repeat 0 0px;
    padding-left: 20px;
    height: 18px;
}